doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    ul
      li
        a(href='/books/all') Books
      li
        a(href='/patrons/all') Patrons
      li
        a(href='/loans/all') Loans
  body
    if errorMessage
      h1 #{errorMessage}
    if errorStatus
      h1 #{errorStatus}
    if error
      h2 #{error}
    block content
